src/main/mule/soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="43090b38-a5f4-4205-aa5f-5861794bd409" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="3d593f82-d16c-43f0-b838-c2510ab215ea" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" />
	</wsc:config>
	<configuration-properties doc:name="Configuration properties" doc:id="48f2e4b1-e78c-46e9-9ad7-c764dd29c45c" file="dev.yaml" />
	<flow name="soapFlow" doc:id="dbd4dd91-3dcd-4614-b451-0e790f3c16c9" >
		<http:listener doc:name="Listener" doc:id="c479bb4f-0f36-4d71-a4ef-65286c67c04d" config-ref="HTTP_Listener_config" path="${http.path}"/>
		<set-variable value="53" doc:name="number1" doc:id="b3a08322-d1a7-4cac-87f2-3dee1b90001c" variableName="num1"/>
		<set-variable value="47" doc:name="number2" doc:id="c5d4f2a9-2495-469d-af37-58102b9c6e1b" variableName="num2"/>
		<ee:transform doc:name="Transform Message" doc:id="a0230a9c-8d40-4869-98a2-3951b1c18ae5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Divide: {
		ns0#intA: vars.num1 as Number,
		ns0#intB: vars.num2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="30fbc1c8-f17d-4b43-8f30-0b5797e2d369" config-ref="Web_Service_Consumer_Config" operation="Divide"/>
		<logger level="INFO" doc:name="Logger" doc:id="a3fa927e-7db3-4952-9c66-a7533393154f" message="#[payload]"/>
	</flow>
</mule>
